jupyterlab
ipywidgets
numpy
pandas
torch
tensorflow
transformers
huggingface_hub
hf
accelerate
adjustText
aiohappyeyeballs
aiohttp
aiosignal
anyio
asttokens
async-timeout
attrs
automated-interpretability
babe
beartype
better-abc
blobfile
boostedblob
certifi
charset-normalizer
circuitsvis
click
comm
config2py
contourpy
cycler
datasets
debugpy
decorator
dill
docker-pycreds
dol
einops
exceptiongroup
executing
fancy-einsum
filelock
fonttools
frozenlist
fsspec
gitdb
GitPython
gprof2dot
graze
h11
httpcore
httpx
i2
idna
importlib_metadata
importlib_resources
iniconfig
jaxtyping
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
multidict
multiprocess
nest-asyncio
networkx
nltk
orjson
packaging
parso
patsy
pexpect
pillow
platformdirs
plotly
plotly-express
pluggy
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
py2store
pyarrow
pyarrow-hotfix
pycryptodomex
Pygments
pyparsing
pytest
pytest-profiling
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
regex
requests
rich
sae-lens
safetensors
scikit-learn
scipy
sentencepiece
sentry-sdk
setproctitle
shellingham
six
smmap
sniffio
stack-data
statsmodels
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
tomli
tornado
tqdm
traitlets
transformer-lens
triton
typeguard
typer
typing_extensions
tzdata
urllib3
uvloop
wandb
wcwidth
xxhash
yarl
zipp
zstandard
